.burger {
    padding-top: 30px;
    width: 100vw;
    height: 150px;
    background: #fff;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    transition: all 0.4s;
    transform: translateY(-100%);

    &.open {
        transform: translateY(0);
    }

    .close_btn {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        border: 1px solid #666;
        cursor: pointer;
        position: fixed;
        top: 15px;
        right: 30px;
    }

    .contact {
        text-align: center;
        margin-bottom: 20px;

        &_number {
            font-weight: 400;
            font-size: 18px;
            line-height: 25px;
            color: #4E4E4E;
        }

        &_link {
            font-weight: 400;
            font-size: 15px;
            line-height: 30px;
            text-decoration-line: underline;
            color: #4F70AE;
        }
    }

    .lang {
        &_wrap {
            display: flex;
            width: fit-content;
            margin: 0 auto;
            gap: 15px;
        }
        
        &_btn {
            width: 50px;
            height: 30px;
            font-size: 15px;
            line-height: 30px;
            color: #756532;
            border: 2.5px solid transparent;
            border-radius: 3px;
            cursor: pointer;
            transition: all 0.4s;
            display: flex;
            justify-content: center;
            align-items: center;

            &:hover {
                border: 2.5px solid rgba(117, 101, 50, 0.1);
            }
        }
    }

}