@font-face {
                                font-family: raleway;
                                font-display: swap;
                                src: url("../fonts/raleway-v28-latin-700.woff2") format("woff2"), url("../fonts/raleway-v28-latin-700.woff") format("woff");
                                font-weight: 400;
                                font-style: normal;
                            }
