.header__wraper {
    width: 100%;
    height: 800px;
    background-image: url(../img/full_screen.png);
    background-size: contain;
    background-repeat: no-repeat;

    @media (max-width: 767px) {
        background-image: url(../img/bg_mobile.png);
        background-size: 100% 1000px;
    }
}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;

    .container {
        max-width: 1076px;
        padding: 35px 37px 0;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (min-width: 768px) {
            justify-content: initial;
        }
    }

    .logo {
        width: 75px;
        height: 44px;
        background-image: url(../img/logo.png);
        background-size: cover;

        @media (min-width: 768px) {
            width: 100px;
            height: 40px;
            background-image: url(../img/logo_light.png);
            margin-right: auto;
        }
    }

    .contact {
        text-align: right;
        display: none;

        &_number {
            font-weight: 400;
            font-size: 18px;
            line-height: 25px;
            color: #4E4E4E;
        }

        &_link {
            font-weight: 400;
            font-size: 15px;
            line-height: 30px;
            text-decoration-line: underline;
            color: #4F70AE;
        }

        @media (min-width: 768px) {
            margin-right: 50px;
            display: block;
        }
    }

    .social {
        display: flex;
        gap: 15px;

        &_link {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            overflow: hidden;

            &:first-child {
                background: linear-gradient(180deg, #1DBE5D 0%, #1B913A 100%);
                box-shadow: inset 0px 0px 21px rgba(255, 255, 255, 0.23);
            }

            &:last-child {
                background: linear-gradient(360deg, #6189E0 -3.75%, #7DA4F4 100%);
                box-shadow: inset 0px 0px 21px rgba(255, 255, 255, 0.23);
            }

            &:after {
                content: "";
                height: 200%;
                left: -230%;
                opacity: 0;
                position: absolute;
                top: -20%;
                transform: rotate(-30deg);
                width: 200%;
              
              background: rgba(255, 255, 255, 0.13);
              background: linear-gradient(
                to right, 
                rgba(255, 255, 255, 0.13) 0%,
                rgba(255, 255, 255, 0.13) 77%,
                rgba(255, 255, 255, 0.5) 92%,
                rgba(255, 255, 255, 0.0) 100%
              );
            }
            
            /* Hover state - trigger effect */
            
           &:hover:after {
                left: -50%;
                opacity: 1;
                top: -50%;
                transition-duration: 0.7s, 0.7s, 0.15s;
                transition-property: left, top, opacity;
                transition-timing-function: ease;
            }
            
            /* Active state */
            
            &:active:after {
              opacity: 0;
            }
        }

        @media (min-width: 768px) {
            margin-right: 50px;
        }
    }

    .lang {
        &_wrap {
            display: none;
            gap: 15px;

            @media (min-width: 768px) {
                display: flex;
            }
        }
        
        &_btn {
            width: 50px;
            height: 30px;
            font-size: 15px;
            line-height: 30px;
            color: #756532;
            border: 2.5px solid transparent;
            border-radius: 3px;
            cursor: pointer;
            transition: all 0.4s;
            display: flex;
            justify-content: center;
            align-items: center;

            &:hover {
                border: 2.5px solid rgba(117, 101, 50, 0.1);
            }
        }
    }

    .burger_btn {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        width: 33px;
        height: 12px;

        @media (min-width: 768px) {
            display: none;
        }

        &::before,
        &::after,
        span {
            content: '';
            width: 33px;
            height: 2px;
            background: #C4C4C4;
        }
    }
}

// background: center / contain no-repeat url("../../media/examples/firefox-logo.svg"),
//             #eee 35% url("../../media/examples/lizard.png");

// background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)),
//                   url("../../media/examples/lizard.png");